<footer>
    <div class="footer_card_a">
        <h2>Safe Trip</h2>
        <h3>Conectar con otros viajeros nunca fue tan facil</h3>
        <div class="footer_card_img">
            <!-- <img src="assets/footer_1.png" alt="ctay" />
            <img src="assets/footer_2.png" alt="ctay" />
            <img src="assets/footer_3.png" alt="ctay" /> -->
        </div>
    </div>
    <div class="footer_card_b">
        <h2>Caracteristicas		Beneficios		Testimonios		Precios</h2>
        <h3>© SafeTrip 2023. Todos los derechos reservados</h3>
    </div>
</footer>
